@media screen and (max-width: 1450px) {
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 70vw;
    }
  }

  @media screen and (max-width: 650px){
    nav{
        width: 90vw;
    }
  }